body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    color: #202020;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: solid 1px black;
    height: 30px;
    padding-top: 10px;
}

header a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
}

header a:hover {
    color: red;
}

h1 {
    font-size: 40px;
    margin-top: 100px;
}

.quiz-section {
    text-align: center;
}

#start-button, #back-button, #clear-button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    text-decoration: none;
}

#start-button:hover, #back-button:hover, #clear-button:hover {
    background-color: red;
    cursor: pointer;
}

/* SCORES.HTML STYLING */

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 75%;
    box-sizing: border-box;
    padding: 20px 0;
}

th {
    text-align: left;
}

/* scores.html buttons */

#clear-button {
    margin-left: 20px;
}

#back-button {
    padding-top: 4px;
    padding-bottom: 6px;
}

/* QUIZ SECTION */
.hidden-quiz-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    text-align: left;
}

#timer {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 150px;
    border-bottom: solid black 1px;
}

#time-remaining {
    color: blue;
}

#question {
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: solid black 1px;
}

ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    width:fit-content;
    
    
    
}

ul#choices button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

ul#choices button:hover {
    background-color: red;
    cursor: pointer;
}

/* Answer Indicators */

/* #correct {
    display: none;
}

#wrong {
    display: none;
} */

/* li {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    
} */