body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    color: #202020;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: solid 1px black;
    height: 30px;
    padding-top: 10px;
}

header a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
}

header a:hover {
    color: red;
}

h1 {
    font-size: 40px;
    margin-top: 100px;
}

.section {
    text-align: center;
}

#button, #back-button, #clear-button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    text-decoration: none;
}

#button:hover, #back-button:hover, #clear-button:hover {
    background-color: red;
    cursor: pointer;
}

#clear-button {
    margin-left: 20px;
}

#back-button {
    padding-top: 4px;
    padding-bottom: 6px;
}